.flex {
  display: flex;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}
.margin-left-5{
  margin-left: 5px;
}
.color-origin{
  color: #ffcd77;
}
